$bg-color: #020a13;
$black: #000;
$dark-gray: #333;
$white: #fff;
$light-gray: #ddd;
$blue: #5579ee;
$green: #43a162;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;

$footer-height: 42px;
$header-height: 64px;
