.header {
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
  padding: 0.125rem 0rem;
}

ul li a {
  font-size: 1.25rem;
  margin-left: 1rem;
  border-bottom: 1px solid #fff;
}

.logo {
  font-size: 1.5rem;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 4px;
  font-weight: 500;
}

.logo:hover,
.logo:active {
  background-color: #fafafa;
}

ul li a:hover,
ul li a:active {
  border-bottom: 2px solid #000;
}
