$black: #000;
$light-black: #282828;
$white: #fff;
$border-width: 4px;
$link-underline-color: #0079a880;
$font-size: 1.25rem;
$logo-font-size: 1.75rem;

.header {
  padding: 0.75rem 1.5rem;
  background-color: $white;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  font-size: $font-size;
  justify-content: space-between;
  width: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
}

.logo,
.nav-link,
.nav-button,
.contact {
  display: flex;
  text-decoration: none;
}

.logo,
.nav-link,
.nav-button {
  color: $black;
}

.logo {
  font-size: $logo-font-size;
  padding: 4px;
  font-weight: 600;
  color: $light-black;
}

.nav-link {
  margin-left: 1.25rem;
}

.nav-link {
  padding-top: $border-width;
  border-bottom: $border-width solid $white;
  font-weight: 500;
  line-height: 1rem;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: $border-width solid $link-underline-color;
  color: $black;
}

.contact {
  font-size: $font-size;
  background-color: $light-black;
  color: $white;
  font-weight: 500;
  padding: 0.3rem 0.75rem;
  border-radius: 1rem;
}

.contact:hover,
.contact:active {
  background-color: $black;
}

.logo:hover,
.logo:active {
  color: $black;
}
