@import "../../../../variables.scss";

$border-width: 2px;
$font-size: 1.25rem;
$logo-font-size: 1.75rem;

.header {
  padding: 0.875rem 1.5rem;
  background-color: $white;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  font-size: $font-size;
  justify-content: space-between;
  width: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
}

.logo,
.nav-link,
.nav-button,
.contact {
  display: flex;
  text-decoration: none;
}

.logo {
  font-size: $logo-font-size;
  padding: 4px;
  font-weight: 500;
}

.nav-link {
  margin-left: 8px;
}

.nav-link {
  font-size: $font-size;
  background-color: $white;
  color: $black;
  padding: 6px 12px;
  border-radius: 999px;
}

.contact {
  font-size: $font-size;
  background-color: $black;
  color: $white;
  padding: 6px 12px;
  border-radius: 999px;
}

.nav-link:hover,
.nav-link:active {
  color: $contrast-black;
  background-color: $light-gray;
}

.contact:hover,
.contact:active {
  background-color: $contrast-black;
}

.logo:hover,
.logo:active {
  color: $contrast-black;
}
