@use "../../../../variables.scss" as *;

.footer {
  padding: 0 2rem;
  align-items: center;
  display: flex;
  font-size: $font-size-xs;
  justify-content: space-between;
  height: $footer-height;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li:not(:first-child) {
  margin-left: 16px;
}

a:hover,
a:active {
  color: $white;
  text-decoration: underline;
  cursor: pointer;
}
