@import '../../scss/variables.scss';

#navbar {
  width: 100vw;
  height: 64px;
  box-sizing: border-box;
  padding: 0 2rem;
  background-color: transparent;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navbar {
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-logo-main {
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: flex;
  text-align: end;
  overflow: hidden;
}

.nav-menu .nav-item:not(:first-child) {
  margin-left: 70px;
}

.nav-item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  font-weight: 400;
  color: $altblack;
}

.nav-item:hover {
  border-bottom: 2px solid $primary;
  color: $altblack;
}

.nav-item:active {
  border-bottom: 2px solid $primary;
  color: $primary;
}
