<div id="home">
  <div id="landing">
    <div id="land-col-1">
      <p id="name">Tyler Holm</p>
      <p id="landing-title">Full Stack Developer</p>
      <div class="landing-divider"></div>
      <div class="socials">
        <a class="icon" href="">
          <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
        </a>
        <a class="icon" href="">
          <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
        </a>
        <a class="icon" href="">
          <fa-icon [icon]="['fab', 'bluesky']" size="lg"></fa-icon>
        </a>
      </div>
    </div>
    <div id="land-col-2"></div>
  </div>
</div>
