<div id="home">
  <div id="landing">
    <p id="name" class="pretty-text">Tyler Holm</p>
    <p id="landing-title">Full Stack Developer</p>
    <div class="landing-divider"></div>
    <p id="landing-about">
      I’m a passionate developer skilled in building engaging, user-friendly
      websites and applications. With expertise in modern frontend and backend
      frameworks, I specialize in crafting seamless full-stack solutions.
    </p>
    <div id="landing-contact">
      <a class="contact-btn">
        <span class="pretty-text">Lets Connect</span>
      </a>
    </div>
    <div class="socials">
      <a class="icon" href="">
        <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
      </a>
      <a class="icon" href="">
        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
      </a>
      <a class="icon" href="">
        <fa-icon [icon]="['fab', 'bluesky']" size="lg"></fa-icon>
      </a>
    </div>
  </div>
  <div id="card-content">
    <div class="card">
      <div class="card-title">Example Project 1</div>
      <div class="card-body">Test</div>
    </div>
    <div class="card">
      <div class="card-title">Example Project 2</div>
      <div class="card-body">Test</div>
    </div>
    <div class="card">
      <div class="card-title">Example Project 3</div>
      <div class="card-body">Test</div>
    </div>
  </div>
</div>
